<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8" />
    <title>Pavo Web Crawler</title>
</head>
<body>
	{{{body}}}
</body>
</html>