<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="css/force.css" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
	<h1>Results from the web crawler</h1>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script id ="script" type="text/javascript" src="js/force.js" jsonObj = "{{jsonObj}}"></script>
	
</body>
</html>