<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="css/index.css"/>
</head>
<header class="container">
	<section class="jumbotron">
		<div class="container">
			<div class="row justify-content-center">
				<h1>Welcome to the Pavo group web crawler</h1>
			</div>
			<div class="row justify-content-center">
				<p>Enter some basic information to get started.</p>
			</div>
		</div>
	</section>
</header>

<section class="container" id="section">
	<div class="row justify-content-center">
		<form action="/results" method="post">
			<!-- change action to url of server -->
			<fieldset>
				<legend>Create new search:</legend>
				<label>
					Starting webpage:
					<input id="page" type="url" name="page" size="30" maxlength="150" />
				</label>
				<label>
					Number of links to search:
					<input id="limit" type="number" name="limit" size="5" maxlength="10" min="0" step="1" max="8" />
				</label>
				<label>Search type:</label>
				<select name="method" id="method" onchange="crawlDepth()">
					<option value="DFS">Depth First</option>
					<option value="BFS">Breadth First</option>
				</select>
				<label>
					Optional keyword:
					<input id="keyword" type="text" name="keyword" size="15" maxlength="30" />
				</label>
				<br />
				<input name="submitButton" type="submit" value="Start the crawler" />
				<script>
					function crawlDepth() {
						var linkMax = document.getElementById("method");
						if (linkMax.options[linkMax.selectedIndex].value == "BFS") {
							var limit = document.getElementById("limit");
							limit.setAttribute("max", 2);
						}
						else {
							var limit = document.getElementById("limit");
							limit.setAttribute("max", 8);
						}
					}
				</script>
			</fieldset>
		</form>
		<form action="/results" method="post">
			<fieldset>
				<legend>Repeat Search:</legend>
				<select name="cookies">
					<option value="">Select One:</option>
					{{#each cookies}}
					<option value="{{this}}">{{this}}</option>
					{{/each}}
				</select>
				<input name="submitButton" type="submit" value="Repeat search" />
			</fieldset>
		</form>
	</div>
</section>

<br />


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

