<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="css/force.css" />
	<meta charset="utf-8" />
	<title>Crawl Results</title>
</head>
<body>
	<header class="container">
		<section class="jumbotron">
			<div class="container">
				<div class="row justify-content-center">
					<h1>Results from the web crawler</h1>
					<p id="resExplain">Each node in the graph represents a visited URL</p>
				</div>
			</div>
		</section>
	</header>
		<section class="container" id="graphContainer">
			<div class="row justify-content-center">
				<p id="testObj">{{jsonObj}}</p>
				<svg width="800" height="600" id="svgSection"></svg>
				<!--<div id="graphSpace"></div>-->
				<!--<script src="https://d3js.org/d3.v4.min.js"></script>
				<script id="script" type="text/javascript" src="js/newForce.js" jsonObj="{{jsonObj}}"></script>-->
				<script src="https://d3js.org/d3.v3.min.js"></script>
				<script id="script" type="text/javascript" src="js/force.js" jsonObj="{{jsonObj}}"></script>
				<div>
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Graph Key:</legend>
							<ul>
								<li>A <span style="color: blue">Blue</span> node indicates the starting URL.</li> 
								<li>A <span style="color: red">Red</span> node indicates the keyword was found on that page.</li>
								<li><span style="color:lightgreen">Light green</span> is used for all other nodes.</li>
								<li>Press Ctrl + click and drag a node to manipulate the graph.</li>
							</ul>
					</fieldset>
				</div>
				<!--<button type="button" name="homeButton">
					<a href="/">Go To Homepage</a>
				</button>-->
			</div>
			<div class="row justify-content-center">
				<form action="../">
					<input type="submit" value="Go To Homepage" />
				</form>
			</div>
			<br/>
			<br/>
			<br/>
		</section>

	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>