svg {
	background-color: #FFF;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

	svg:not(.active):not(.ctrl) {
		cursor: default;
	}

path.link {
/*links line {*/
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}

path.link.selected {
	stroke-dasharray: 10,2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

circle.node {
	stroke-width: 1.5px;
	cursor: pointer;
}

	circle.node.reflexive {
		stroke: #000 !important;
		stroke-width: 2.5px;
	}

text {
	font: 12px sans-serif;
	pointer-events: none;
}

text.id {
	text-anchor: middle;
	font-weight: bold;
}

fieldset.scheduler-border {
	border: 1px groove #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
}

body{
	background-image: url(../images/DanaWeb.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#testObj{
	border: 2px solid;
	background-color:white;
}

fieldset{
	background-color:white;
}

#graphSpace{
	border: 2px solid;
}

@font-face {
	font-family: spiderText2;
	src: url('../images/SPIDERMA.TTF');
}

@font-face{
	font-family: spiderText3;
	src: url("'../images/Hallowen Party St.ttf'");
}

h1 {
	font-family: spiderText2;
	font-size: 4em;
}

#svgSection{
	/*border: 2px solid;*/
	cursor:grab;
	background-color: transparent;
}
