/*body {
	background-image: url(../images/DanaWeb.png);
}*/
body{
	background-image: url(../images/DanaWeb.png);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: center center;*/
}

#section{
	background-color: darkgray;
	border:solid;
}

@font-face{
	font-family: spiderText2;
	src: url('../images/SPIDERMA.TTF');
}

@font-face{
	font-family: spiderText;
	src: url('../images/LT White Fang.ttf');
}

h1{
	font-family: spiderText2;
	font-size: 5em;
}

#cookies option{
	width: 300px;
}

#searchForm{
	padding-left: 15px;
	padding-bottom: 10px;
}

#repeatForm{
	padding-bottom: 15px;
}

input[type=text]{
	border: 2px solid;
	background-color: darkgray;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}